= render :partial => '/admin/shared/left_column'

.col-md-9.content.pb-20

  %h3
    %a{:href => '#', :class => 'dotoggle', 'data-block' => '#newGalleryForm'}= "+ Ajouter une galerie photo"

  #newGalleryForm{:style => 'display:none;'}
    = form_tag admin_galleries_path, :class => 'form' do
      = render :partial => '/admin/shared/errors', :locals => {:what => @gallery} 

      .form-group
        %label= "Nom de la galerie"
        %br
        %input{:type => 'text', :name => 'gallery[name]', :value => @gallery.name, :class => 'form-control'}
      .form-group
        %label= "Date de l'événement"
        %br
        .row
          .col-md-3
            %input{:type => 'text', :name => 'event', :class => 'form-control datepicker'}
            %input{:type => 'hidden', :name => 'gallery[event_at]', :id => 'end_at'}
      .form-group
        %label= "Commentaires"
        %br
        %textarea{:name => 'gallery[comment]', :class => 'form-control'}
      .form-group
        = submit_tag t('save'), :class => 'btn  btn-warning'

  %hr
  %ul#galleries
    - @galleries.reverse.each do |gallery|
      %li
        .well
          %h3
            = link_to "×", admin_gallery_path(gallery.id), :method => :delete, :confirm => "Supprimer cette galerie ainsi que toutes ses images ?!", :class => 'delete'
            = link_to "#{gallery.name} (#{gallery.pictures.count} images)", admin_gallery_path(gallery.id)
          %p= l(gallery.event_at, :format => :long)
          %hr
          .col-md12
            - i = 0
            - gallery.pictures.each do |picture|
              - break if i > 5
              .col-md-2
                = image_tag picture.image.thumb('100x100').url 
              - i += 1
            .clearfix

  .clearfix

