= render :partial => '/admin/shared/left_column'

.span10
  #surveys_management.well
    %p.label= t('current_survey')

    - if @survey
      %table
        %tr
          %td
            %a{:href => admin_survey_path(@survey.id), :id => @survey.id, :data => {'method'=>'delete', 'confirm' => t('confirms.delete_survey')}}
              %i.icon-remove
          %td
            %h3= @survey.question
      .hr

      = form_tag admin_survey_path(@survey.id), :method => :put do
        - unless @survey.children.empty?
          %a.right{:href => '#', :class => 'doshow_results', :data => {'id' => @survey.id}}
            = t('who_has_voted_what')

          %table#survey_mgt
            %tr
              %th{:style=>'width:20px;'}= ''
              %th= t('survey_question')
              %th= t('survey_score')

            - @survey.children.each do |answer|
              %tr
                %td
                  %a{:href => create_answer_admin_survey_path(answer.id), :id => answer.id, :data => {'method'=>'delete', 'confirm'=>t('confirms.delete_answer')}}
                    %i.icon-remove
                %td= text_field_tag "survey[#{answer.id}][question]", answer.question
                %td= text_field_tag "survey[#{answer.id}][score]", answer.score

        %a{:href => create_answer_admin_survey_path(@survey.id), :data => {'method'=>'post'}}
          = t('create_new_answer')
        %br
        %br
        = submit_tag t('save'), :class=>'btn  btn-warning'

    %a{:href => '#', :class => 'dotoggle', :data => {'block' => '#new_survey'}}= t('create_new_survey')
    #new_survey.hide
      %br
      = form_tag admin_surveys_path do
        %p
          = t('admin.question_for_new_survey')
          %input{:type => 'text', :name => 'question', :style => 'width:450px;'}
          = submit_tag t('create'), :class => 'btn  btn-warning'

    %br
    %br
    %p.label= t('admin.default_older_surveys_to_display')
    = form_tag admin_conf_index_path do
      = hidden_field_tag 'from', admin_surveys_path
      = text_field_tag "conf[max_surveys]", $conf.max_surveys, :style=>'width:30px;'
      = submit_tag t('save'), :class=>'btn  btn-warning'

    %br
    %br
    %p.label= t('admin.older_surveys')
    %table
      - Survey.questions.offset(1).all.each do |survey|
        %tr
          %td
            %a{:href => admin_survey_path(survey.id), :data => {'method' => 'delete', 'confirm' => t('confirms.delete_survey')}}
              %i.icon-remove
          %td{:style => 'width:500px;'}= survey.question
          %td{:style => 'width:215px;text-align:right;'}
            %a{:href => '#', :class=>'doshow_results', :data => {'id' => survey.id}}
              = t('who_has_voted_what')

- # Hidden

#show_results.modal.hide.fade
  .modal-header
    %a.close{:data => {'dismiss'=>'modal'}}
      = '×'
    %h3= t('who_has_voted_what')

  .modal-body
    #results

