.col-md-12
  - @survey.children.each do |answer|
    %h4= answer.question
    %hr
    - if answer.voters.empty?
      = t('no_vote')
    - else
      - @members.each do |member|
        - if answer.voters.include?(member.id)
          = link_to "» #{member.first_name} #{member.last_name}", member_path(member.id)

