- @survey.children.each do |s|

  .result{:style=>"width:#{gauge(@results[s.id])}px;"}= "#{@results[s.id]}%"
  %span= s.question

.clear{:style=>'height:20px;'}
%p= "#{@survey.voters.length} #{t('votes_since')} #{l(@survey.created_at, :format=>:long)}"

