- @survey.children.each do |s|

  .result{:style=>"width:#{gauge(@results[s.id])}px;"}= "#{@results[s.id]}%"
  %span= s.question

.clear{:style=>'height:20px;'}

- if @voters_count == 1
  %p= "#{t('first_vote')}"
- else
  %p= "#{@voters_count} #{t('votes_since')} #{l(@survey.created_at, :format=>:long)}"

- if @already_voted
  %strong= t('already_voted')

