.result{:style=>'width:340px;'}= '10%'
%span= "Oui"

.result{:style=>'width:510px;'}= '100%'
%span= "Non"

.result{:style=>'width:220px;'}= '30%'
%span= "Peut-être"

.clear{:style=>'height:20px;'}
%p= "42 votes enregistrés depuis le mercredi 25 Mars 2012"

