.col-md-6
  .row
    .col-md-12
      .row
        .col-md-12.content.mb-40
          = render :partial => '/widgets/last_posts'
        
      .row
        .col-md-12.content.mb-40
          = render :partial => '/widgets/last_ads'

.col-md-6
  .row
    .col-md-12
      .row
        .col-md-11.col-md-offset-1.content.mb-40
          = render :partial => '/widgets/next_events'

      .row
        .col-md-11.col-md-offset-1.content.mb-40
          = render :partial => '/widgets/gallery'

      .row
        .col-md-11.col-md-offset-1.content.pb-20.mb-40
          = render :partial => '/widgets/new_comers'

      .row
        .col-md-11.col-md-offset-1.content.pb-20
          = render :partial => '/widgets/new_outers'


- unless session[:headline_shown]
  - session[:headline_shown] = true
  = render :partial => '/modals/headline'