.span11#dashboard
  #ads
    #categories
      %ul
        %li
          %a{:href=>'#', :id=>'active'}= "Toutes"
        %li
          %a{:href=>'#'}= "Achat/ventes"
        %li
          %a{:href=>'#'}= "Job"
        %li
          %a{:href=>'#'}= "Divers"

      %a{:href=>'#', :class=>'btn btn-warning', :style=>'float:right;color:#fff;'}= "+ Créer une annonce"

    .ad
      .avatar
        = image_tag @temp.member.avatar.thumb('50x50').url, :alt=>"#{@temp.member.first_name} #{@temp.member.last_name}"
      %h3= "Je vends une machine à laver état neuf"
      %p= "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      .action_bar
        %a{:href=>'#send_mail', :data=>{'toggle'=>'modal', :recipient=>@temp.member.user.email, :recipient_id=>@temp.member.id}, :class=>'mail_me'}
          = 'Répondre à cette annonce'
        %span= "Annonce affichée jusqu'au 25 mars 2012"

    .ad
      .avatar
        = image_tag @temp.member.avatar.thumb('50x50').url, :alt=>"#{@temp.member.first_name} #{@temp.member.last_name}"
      %h3= "Cherche une paire de bras pour virée à Ikea"
      %p= "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      .action_bar
        %a{:href=>'#send_mail', :data=>{'toggle'=>'modal', :recipient=>@temp.member.user.email, :recipient_id=>@temp.member.id}, :class=>'mail_me'}
          = 'Répondre à cette annonce'
        %span= "Annonce affichée jusqu'au 25 mars 2012"

    .ad
      .avatar
        = image_tag @temp.member.avatar.thumb('50x50').url, :alt=>"#{@temp.member.first_name} #{@temp.member.last_name}"
      %h3= "Je cherche des développeurs Web vraiment bons"
      %p= "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      .action_bar
        %a{:href=>'#send_mail', :data=>{'toggle'=>'modal', :recipient=>@temp.member.user.email, :recipient_id=>@temp.member.id}, :class=>'mail_me'}
          = 'Répondre à cette annonce'
        %span= "Annonce affichée jusqu'au 25 mars 2012"

    .ad
      .avatar
        = image_tag @temp.member.avatar.thumb('50x50').url, :alt=>"#{@temp.member.first_name} #{@temp.member.last_name}"
      %h3= "Une autre annonce"
      %p= "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      .action_bar
        %a{:href=>'#send_mail', :data=>{'toggle'=>'modal', :recipient=>@temp.member.user.email, :recipient_id=>@temp.member.id}, :class=>'mail_me'}
          = 'Répondre à cette annonce'
        %span= "Annonce affichée jusqu'au 25 mars 2012"

    .ad
      .avatar
        = image_tag @temp.member.avatar.thumb('50x50').url, :alt=>"#{@temp.member.first_name} #{@temp.member.last_name}"
      %h3= "Encore une autre ici ! "
      %p= "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      .action_bar
        %a{:href=>'#send_mail', :data=>{'toggle'=>'modal', :recipient=>@temp.member.user.email, :recipient_id=>@temp.member.id}, :class=>'mail_me'}
          = 'Répondre à cette annonce'
        %span= "Annonce affichée jusqu'au 25 mars 2012"


  #occupation
    #top
      = t('actual_occupation_of_location')
      %select
        %option{:name=>'location'}= "Charpennes"
    #gauge
      #rate
        = "80%"

    %span= "Dernière mise à jour le lundi 31 Février à 25h12"

  #last_ones
    %h2= "Derniers arrivants"

    - @new_ones.each do |user|
      %a{:href=>member_path(user.member.id)}
        = image_tag user.member.avatar.thumb('50x50').url, :alt=>"#{user.member.first_name} #{user.member.last_name}"

  #survey
    %h2= "Sondage"

    %p.well
      = "Pour ou contre l'organisation de combat de poissons combattants à la cordée ?"

    %p
      %input{:type=>'checkbox'}
      = "Oui"

      %br
      %input{:type=>'checkbox'}
      = "Non"

      %br
      %input{:type=>'checkbox'}
      = "Peut-être"

    .clear
    %span= "Pour connaitre les résultats ? Votez !"

    #older_surveys
      %span= "Résultats des précédents sondage..."
      %br
      %a{:href=>'#'}= "&raquo;&nbsp;Pour ou contre l'organisation de combat de poissons combattants à la cordée ?".html_safe
      %a{:href=>'#'}= "&raquo;&nbsp;Pour ou contre l'organisation de combat de poissons combattants à la cordée ?".html_safe
      %a{:href=>'#'}= "&raquo;&nbsp;Pour ou contre l'organisation de combat de poissons combattants à la cordée ?".html_safe


= render :partial=>'shared/send_mail_modal'

