.col-md-8.content.pt-20
  - unless @category.description.blank?
    %h5{:style => 'border-bottom: 2px solid #999'}= simple_format(@category.description)



  %ul.medias_list
    - @category.medias.each do |media|
      %li        
        %a{:href => media_download_path(media.id), :class => get_type_icon(media)}= "#{media.name} (#{number_to_human_size(media.filesize, :locale => :en)})"


.col-md-4
  .row
    .col-md-11.col-md-offset-1.content

      %h3= "Categories"
      %hr
      %ul
        - MediaCategory.published.each do |category|
          %li{:class => ('active' if params[:id].to_i == category.id)}
            %a{:href => media_path(category.id)}
              = category.name
      - if is_admin
        %a{:href => admin_medias_path}= t('manage_medias_categories')