.span3.show-grid.columns
  .tabbable.tabs-left.span3
    %ul.nav.nav-tabs.span3
      - MediaCategory.published.each do |category|
        %li{:class => ('active' if params[:id].to_i == category.id)}
          %a{:href => media_path(category.id)}
            = category.name
    - if is_admin
      %a{:href => admin_medias_path}= t('manage_medias_categories')

.span8.right
  %h3= @category.description
  %br
  - if is_admin
    .well{:style => 'height:130px;overflow: hidden'}
      = form_tag upload_admin_media_path(@category), :multipart => true do
        %table#uploader
          %tr
            %td
              %label= t('medias.choose_file')
            %td
              %input{:type => 'file', :name => 'media[file]'}
          %tr
            %td
              %label= t('medias.file_name')
            %td
              %input{:type => 'text', :name => 'media[name]'}

        = submit_tag t('send'), :class => 'btn  btn-warning'

  %ul.medias_list
    - @category.medias.each do |media|
      %li
        - if is_admin
          %a.delete{:href => admin_delete_media_path(media.id), :data => {'method'=>'delete', 'confirm'=>t('confirms.delete_media')}}
        %a{:href => media_download_path(media.id), :class => get_type_icon(media)}= "#{media.name} (#{number_to_human_size(media.filesize, :locale => :en)})"

