<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @datas[:subject] %></title>
</head>
<body topmargin="0" leftmargin="0">

  <table style="width:500px;">
    <tr>
      <td colspan='2'>
        Bonjour <%= "#{@datas[:current_user].member.first_name}" %>
        <br />
        <br />
        <%= "#{t('email.new_cancelation_body')}" %>
        <br />
        <br />
        <strong><%= t('email.event_name') %></strong><%= @datas[:body][:event_name] %>
        <br />
        <strong><%= t('email.date_and_hour') %></strong><%= @datas[:body][:event_date] %>
        <br />
        <br />
        <p><%= t('email.confirm_cancelation') %></p>
        <p><b>L'équipe Graines de sol</b></p>
      </td>
    </tr>
  </table>

</body>

</html>

