<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @datas[:subject] %></title>
</head>
<body topmargin="0" leftmargin="0">

  <table style="width:500px;">
    <tr>
      <td colspan='2'><h1 style="color:#2f2f2f;font-size:16px;"><%= $conf.app_name %></h1></td>
    </tr>
    <tr>
      <td colspan='2'>
        <%= @datas[:name] %> <%= t('email.introduction_message') %> <%= @datas[:reply_addr] %>
        <br />
        <br />
        <%= "#{simple_format @datas[:body]}".html_safe %>
      </td>
    </tr>
  </table>

</body>

</html>

