#categories_management.well
  %p.label= t('admin.categories_management')
  = form_tag '/admin/categories/update', :method=>:put do
    %table
      - Category.all.each do |category|
        %tr
          %td
            %a{:href=>"/admin/categories/delete/#{category.id}", :id=>category.id, :data=>{'method'=>'delete', 'confirm'=>t('delete_category_confirm')}}
              %i.icon-remove
          %td
            %input{:type=>'text', :name=>"category[#{category.id}][name]", :value=>category.name}

    %a{:href=>"/admin/categories/create", :data=>{'method'=>'post'}}
      = t('create_category')
    %br
    %br
    = submit_tag t('send'), :class=>'btn  btn-warning'

