.span2.show-grid.columns{:style=>'width:115px;'}
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      - actions = ['surveys', 'locations', 'ads', 'conf']
      - actions.each do |action|
        %li{:class=>('active' if params[:id] == action)}
          %a{:href=>"/admin/#{action}"}
            = t("admin.tabs.#{action}")

.span10
  - case params[:id]
  - when 'surveys'
    = render :partial=>'surveys'
  - when 'locations'
    = render :partial=>'locations'
  - when 'ads'
    = render :partial=>'ads'
  - when 'conf'
    = render :partial=>'conf'

