.container{:style=>'background:none;'}
  .span4.offset3#login_box
    %h2= t('devise.common.password_renew_1')
    %h2= t('devise.common.password')

    .clear{:style=>'height:20px;'}
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = f.hidden_field :reset_password_token

      %div
        = f.label t('devise.common.new_password')
        %br
        = f.password_field :password

      %div
        = f.label t('devise.common.confirm_password')
        %br
        = f.password_field :password_confirmation

      .clear{:style=>'height:20px;'}
      %div
        = f.submit t('devise.passwords.edit.change_my_password'), :class=>'btn  btn-warning'

