.page-content.blocky
  .container
    .row
      .col-xs-4.awidget.center
        .awidget-head
        .awidget-body
          .page-title

          %h2
            = t('devise.common.password_renew_1')
            %br
            = t('devise.common.password')
          %hr

          .clearfix
          = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form' }) do |f|
            = f.hidden_field :reset_password_token

            .form-group
              = f.label t('devise.common.new_password')
              %br
              = f.password_field :password, :class => 'form-control'

            .form-group
              = f.label t('devise.common.confirm_password')
              %br
              = f.password_field :password_confirmation, :class => 'form-control'

            
            %div
              = f.submit t('devise.passwords.edit.change_my_password'), :class=>'btn  btn-warning pull-right'

          .clearfix.pt-20pb-20
