= render :partial => '/admin/shared/left_column'

.col-md-9.content.pt-20
  #global_conf.well

    %p.label= t('welcome_headline')
    = form_tag admin_headlines_path do
      .content_container.hide
        = soft_clean $conf.headline
      .textarea_container
      %br
      = check_box("conf", "headline_published", {:checked => $conf.headline_published, :class => 'left'}, "true", "false")
      = t('published')
      = submit_tag t('update'), :class => 'btn btn-danger', :style => 'float:right;margin-right:10px;'

= t_init(:name => 'conf[headline]')

