.container
  #avatar
    = avatar(current_user.member, '32x32')

  #profil_link
    %span= hello
    = link_to current_user.member.first_name, member_path(current_user.member.id)

  %ul#main_menu
    - tabs.each do |tab|
      %li{:class=>('active' if params[:controller] == tab[:controller])}
        %a{:href=>"/#{tab[:controller]}"}
          %i{:class=>tab[:icon]}
          = t(tab[:name])

    - if current_user.role != 'admin'
      %li
        %a{:href=>'/admin'}
          %i{:class=>'icon-ban-circle icon-white'}
          = t('admin.admin_panel')

    %li
      %a{:href=>'/users/sign_out', :data=>{'method' => 'delete'}}
        %i{:class=>'icon-remove icon-white'}
        = t(:logout)

