.container
  .row

    .col-md-3.top-me          
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        = avatar(current_user.member, '46x32')
        = "Bonjour Guillaume"
        %i.icon-caret-down

      %ul.dropdown-menu.animated.fadeInUp
        %li
          %a{:href => member_path(current_user.member.id)}
            %i{:class=>'icon-user'}
            = "Voir mon profil"
        %li
          %a{:href=>'/users/sign_out', :data=>{'method' => 'delete'}}
            %i{:class=>'icon-remove'}
            = t(:logout)

    .col-md-5
      .input-group.form{:style =>'float:left;'}
        %input.form-control.main-search{placeholder: "Un membre, une actualité...", type: "text"}/
        %span.input-group-btn
          %button.btn.btn-info{type: "button"}= t('search')

    .col-md-4
      .navbar.navbar-inverse{role: "banner"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span= "Menu"

        %nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right{role: "navigation"}
          %ul.nav.navbar-nav

            - if !is_admin
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = "Admin"
                  %i.icon-caret-down
                %ul.dropdown-menu.animated.fadeInUp
                  %li
                    %a{:href=>'/admin/surveys'}
                      %i{:class=>'icon-ban-circle icon-white'}
                      = t('admin.admin_panel')
                  %li
                    %a{:href=>'/admin/surveys'}
                      %i{:class=>'icon-ban-circle icon-white'}
                      = t('admin.admin_panel')

            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = "Aller à..."
                %i.icon-caret-down
              %ul.dropdown-menu.animated.fadeInUp

                - tabs.each do |tab|
                  %li{:class=>('active' if params[:controller] == tab[:controller])}
                    %a{:href=>"/#{tab[:url]}"}
                      %i{:class=>tab[:icon]}
                      = t(tab[:name])