.container
  #avatar
    = image_tag current_user.member.avatar.thumb('32x32').url

  #profil_link
    %span= hello
    = link_to current_user.member.first_name, member_path(current_user.id)

  %ul#main_menu
    - tabs.each do |tab|
      %li{:class=>('active' if params[:controller] == tab[:controller])}
        %a{:href=>"/#{tab[:controller]}"}
          %i{:class=>tab[:icon]}
          = t(tab[:name])


    %li
      %a{:href=>'/users/sign_out', :data=>{'method' => 'delete'}}
        %i{:class=>'icon-remove icon-white'}
        = t(:logout)

