.col-md-12

  .row
    .col-md-12.content.mb-20.pt-20

      .well#calendar_header
        - if is_admin
          %a{:href => '#', :class => 'doToggleCalendarEditor'}= t('calendar.edit_calendar')
          .clear
        %h2= @calendar.name
        %br
        = soft_clean(@calendar.description)

  - if is_admin
    .well#calendar_editor.hide
      %a{:href => '#', :class => 'doToggleCalendarEditor'}= t('calendar.edit_calendar')
      .clear
      = form_tag admin_event_path(@calendar), :method => :put do
        %label= t('calendar.name')
        = text_field_tag 'calendar[name]', @calendar.name
        %br
        %label= t('calendar.mail_to')
        = text_field_tag 'calendar[email]', @calendar.email
        %br
        %label= t('calendar.rss')
        = text_field_tag 'calendar[rss]', @calendar.rss
        %br
        %label= t('calendar.description')
        .content_container.hide
          = soft_clean @calendar.description
        .textarea_container
        %br
        = submit_tag t('update'), :class=>'btn btn-warning right'

  .clear

  .row
    .col-md-12.content
      #calendar


:javascript

  var buildingEvents = $.map(#{@events.to_json}, function(item) {
    return {
        id: item.id,
        title: item.title,
        start: item.start_at,
        end: item.end_at
    };
  });

  $(document).ready(function() {
    $('#calendar').fullCalendar({
      events: buildingEvents,

      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      defaultView: 'month',
      timeFormat: '(HH:mm)',
      eventColor: '#378006',
      firstDay: 1,
      buttonText: { 
        today: "#{I18n.t('calendar.today')}", 
        month: "#{I18n.t('calendar.month')}",
        week: "#{I18n.t('calendar.week')}",
        day: "#{I18n.t('calendar.day')}"
      },

      eventClick: function(calEvent, jsEvent, view) {

        window.pullEvent(calEvent.id);

        /* Prevent gcal linking by default */
        return false;
      },

      monthNames: #{fullmonth_names_start_1},
      monthNamesShort: #{fullmonth_names_start_1},
      dayNames: #{I18n.t('date.day_names').to_json},
      dayNamesShort: #{I18n.t('date.abbr_day_names').to_json}

    })
  });
  
= render :partial => '/modals/toggle_event_modal'


= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js'
/= javascript_include_tag '/javascripts/fullcalendar-1.5.3/fullcalendar/gcal.js'

= t_init(:name => 'calendar[description]', :width => '838')

