%h3= "Thématiques"
%hr
  %ul.blog-categories
    - BlogCategory.all.each do |category|
      %li
        %a{:href => blog_category_path(category.id)}= category.name
    %li
      %a{:href => blog_index_path}= "Toutes les catégories"
    %li
      %a{:href => root_path}= "Dernière actualité"

.clearfix
= link_to "» Toutes les actus", blog_index_path, :class => 'read-more'

.clearfix