- @surveys = Survey.for_location($conf.default_location_id)

- unless @surveys.empty?
  #survey
    %h3= t('survey')
    %hr

    .row
      .col-md-12
        .well
          %p= @surveys.first.question

    %ul
      - @surveys.first.children.each do |survey|
        %li
          %input{:type=>'radio', :name => 'answer', :class => 'answer', :value => survey.id}
          = survey.question

    .clear
    %span= t('vote_to_know_the_results')


    - if params[:controller] != 'dashboard'
      #older_surveys
        %h4= t('older_surveys')
        %ul
          - @surveys.offset(1).each do |survey|
            %li
              %a{:href=>'#', :data=>{'survey_id' => survey.id}}= survey.question


  %input{:type => 'hidden', :id => 'current_survey_id', :value => @surveys.first.id}

  = render :partial => '/modals/show_survey_modal'

