.col-md-4.admin_nav
  .row
    .col-md-11.content

      %h3= "Groupes de travail"
      %hr
      %ul
        - WorkgroupCategory.published.each do |category|
          - if((Agreement.to current_user.member, :access, 'workgroup_category', category.id) || category.is_public)
            %li{:class => ('active' if params[:id].to_i == category.id)}
              %a{:href => workgroup_path(category.id)}
                = category.name

- if(Agreement.to(current_user.member, :access, 'workgroup_category', @category.id) || @category.is_public )
  .col-md-8.content.pt-20
    %ul.nav.nav-tabs
      %li{:class => ('active' if params[:action] == 'show')}
        %a{:href => workgroup_path(@category.id)}= "Description"

      %li{:class => ('active' if params[:action] == 'files')}
        %a{:href => files_workgroup_path(@category.id)}= "Fichiers"

      %li{:class => ('active' if params[:action] == 'participants')}
        %a{:href => participants_workgroup_path(@category.id)}= "Participants"

      %li{:class => ('active' if params[:action] == 'comments')}
        %a{:href => comments_workgroup_path(@category.id)}= "Commentaires"

      - if @category.has_photos
        %li{:class => ('active' if params[:action] == 'photos')}
          %a{:href => photos_workgroup_path(@category.id)}= "Photos"


    .clearfix

    = render :partial => "/workgroups/#{params[:action]}"
