.container{:style=>'background:none;'}
  .span4.offset3#login_box
    %h2= t('devise.common.hello')

    .clear{:style=>'height:20px;'}

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %div
        = f.label t('devise.common.login')
        .clear
        = f.email_field :email, :data=>{'required'=>'true', 'alert'=>t('warnings.email_required')}

      %div
        = f.label t('devise.common.password')
        .clear
        = f.password_field :password, :data=>{'required'=>'true', 'alert'=>t('warnings.password_required')}

      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          = f.label t('devise.common.remember_me')

      .clear{:style=>'height:20px;'}
      %div
        = f.submit t('devise.common.sign_in'), :class=>'btn  btn-warning'


    = render :partial => "devise/shared/links"

