.page-content.blocky
  .container
    .row
      .col-xs-4.awidget.center
        .awidget-head
        .awidget-body
          .page-title
            %h2 Se connecter
            %hr
          
          = form_for(resource, :html => {:class => 'form-vertical', :role => 'form'}, :as => resource_name, :url => session_path(resource_name)) do |f|
            .form-group
              %label.control-label{for: "inputEmail1"}= t('devise.common.login')
              = f.email_field :email, :class => 'form-control', :id => 'inputEmail1', :placeholder => t('devise.common.login')
            .form-group
              %label.control-label{for: "inputPassword1"}= t('devise.common.password')
              = f.password_field :password, :class => 'form-control', :id => 'inputPassword1', :placeholder => t('devise.common.password')
            .form-group
              .checkbox
                = f.check_box :remember_me
                %label
                  = t('devise.common.remember_me')
            %hr
            .form-group
              .text-right
                = f.submit t('devise.common.sign_in'), :class =>'btn btn-info'

            .clearfix