= render :partial => '/admin/shared/left_column'

.col-md-9.content
  %a.btn.btn-danger.pull-right{:href=>"/admin/ads", :data=>{'method'=>'post'}}
    = t('create_category')
  %h3.underline= "Catégories d'annonces"
  %hr
  #categories_management.pb-20
    .row
      .col-md-11
        %p.label= t('admin.categories_management')
        = form_tag '/admin/ads/update', :method=>:put, :class => 'form' do

          - Category.all.each do |category|
            .row.mb-20
              .col-md-1
                %a{:href=>"/admin/ads/#{category.id}", :id=>category.id, :data=>{'method'=>'delete', 'confirm'=>t('delete_category_confirm')}}
                  %i.icon-remove
              .col-md-10
                %input.form-control{:type=>'text', :name=>"category[#{category.id}][name]", :value=>category.name}

          %br
          = submit_tag t('save'), :class=>'btn  btn-warning'

