- @locations = Location.all

#create_ad.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{:data => {'dismiss' => 'modal'}}
          = '×'
        %h3= t('create_ad')

      .modal-body
        = form_tag ads_path, :method => :post do

          = hidden_field_tag 'ad_id'

          .well
            %span= t('category')
            %select{:style => 'width:120px;', :name => 'ad[category_id]', :id => 'category_id'}
              - @categories.each do |category|
                %option{:value=>category.id}= category.name

            %span{:style =>'margin-left: 20px'}= t('valid_until')
            %input{:type => 'text', :class => 'datepicker', :id => 'show_end_date', :value => '', :style => 'width:170px;'}
            %input{:type => 'hidden', :id => 'end_at', :name => 'ad[end_at]', :value => ''}

            %p.hide
              = t('ad_visibility')
              %select{:name => 'ad[location_id]', :id => 'ad_location_id', :style => 'width:200px;'}
                %option{:value => '0'}= t('all_locations')
                - @locations.each do |location|
                  %option{:value => location.id}= "#{t('location_')} #{location.name}"

          %label= t('email_subject')
          %input{:type => 'text', :name => 'ad[subject]', :id => 'ad_subject', :style => 'width:100%;'}
          %br
          %br
          %label= t('your_ad')
          .content_container.hide
          .textarea_container
          /%textarea{:name => 'ad[body]', :id => 'ad_body', :style => 'width:100%;height:80px;', :class => 'expandable', :maxlength => '500'}

          .clearfix
          %br

          %a{:href => '', :id => 'delete_ad_link', :data => {'method' => 'delete', :confirm => t('confirms.delete_this_ad')}}
            %i.icon-remove
            = t('delete_my_ad')

          = submit_tag t('send'), :class=>'btn btn-warning pull-right'

        .clearfix

= t_init(:name => 'ad[body]')