#create_post_modal.modal.hide.fade
  .modal-header
    %a.close{:data=>{'dismiss'=>'modal'}}
      = '×'
    %h3= @post ? t('blog.update_post') : t('blog.create_post')

  .modal-body
    = form_tag blog_index_path do
      - if @post
        = hidden_field_tag 'post_id', @post.id

      %label= t('blog.post_title')
      = text_field_tag 'post[title]', (@post.title if @post)
      %br

      .attributes
        %label= t('blog.category')
        = select_tag 'post[blog_category_id]', options_from_collection_for_select(BlogCategory.all, 'id', 'name', (@post.blog_category_id if @post)), :style => 'margin-right: 20px;'

        = t('blog.published_at')
        %input{:type => 'text', :class => 'datepicker', :id => 'published_at', :value => get_post_date(@post)['formated'], :style => 'width:170px;'}
        %input{:type => 'hidden', :id => 'end_at', :name => 'published_date', :value => get_post_date(@post)['raw']}
        = t('blog.published_at_time')
        = select_time(get_post_hour(@post))

      %label= t('blog.post_content')
      .content_container.hide
        = @post.content if @post
      .textarea_container
      %br
      - if current_user.role == 'admin' && @post
        %a.left.delete{:href => blog_path(@post.id), :data => {:method => :delete, :confirm => t('confirms.delete_this_post')}}= t('delete')

      = submit_tag t('save'), :class=>'btn  btn-danger right'


= javascript_include_tag "/javascripts/tinymce/jscripts/tiny_mce/tiny_mce.js"
= javascript_include_tag "/javascripts/tinymce/blog.js"

