#send_mail.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content

      .modal-header
        %a.close{:data=>{'dismiss'=>'modal'}}
          = '×'
        %h3= t('send_email_to')
        %span#recipient= ''

      .modal-body
        .row
          .col-md-12
            = form_tag "/members/mail", {:method=>:post, :class => 'form'} do

              = hidden_field_tag 'recipient_id', @member.id
              = hidden_field_tag 'origin', request.url

              .form-group
                %label= t('email_subject')
                %input{:type=>'text', :name=>'email[subject]', :class => 'form-control'}
              .form-group
                %label= t('email_body')
                %textarea{:name=>'email[body]', :style=>'height:250px;', :class => 'form-control'}

              .form-group
                = submit_tag t('send'), :class=>'btn  btn-warning', :style=>'float:right'

            .clearfix
            %br

