#toggle_event.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content

      .modal-header
        %a.close{:data=>{'dismiss'=>'modal'}}
          = '×'
        %h3#event_start

      .modal-body
        #event_title
        #event_dates
        %br
        %p
          %b= "Description :"
        #event_description
        %hr
        %b= "Participants"
        #event_participants

        %br
        %a#event_register{:href => '#', 'data-do' => 'toggleRegistration', 'data-is' => 'add'}
          .icon-pencil
          = " S'inscrire à cet événement"

        %a#event_cancel{:href => '#', 'data-do' => 'toggleRegistration', 'data-is' => 'remove'}
          .icon-trash
          = " Se désinscrire de cet événement"

        %input{:type => 'hidden', :id => 'event-member-id', :value => current_user.member.id}
        %input{:type => 'hidden', :id => 'modal-event-id', :value => ''}