.col-md-9
  .row
    .col-md-11.content

      %h2= "Toutes nos actus"

      .awidget-body
        - @posts.each do |post|
          .row.comment
            .col-md-12
              %h2= link_to post.title, blog_path(post.id)
              %span= "Publié le #{l(post.published_at, :format => :long)}"

              %p= truncate(strip_tags(post.content), :length => 255)

      .clearfix
      %br
      %br

.col-md-3
  = render :partial => '/shared/aside_blog'