.col-md-8.content
  %h2= "Toutes nos actus"
  %hr

  - Post.last_posts(10).each do |post|
    .row.comment
      .col-md-12.post_detail_content
        %h2= link_to post.title, blog_path(post.id)
        %span= "Publié le #{l(post.published_at, :format => :long)}"
        .clearfix
        %p
          = soft_clean post.content

  .clearfix
  %br
  %br

.col-md-4
  = render :partial => '/shared/aside_blog'