- if !$conf.headline_published
  .well
    = soft_clean($conf.headline)

- @posts.each do |post|
  .page-title
    %h2= link_to post.title.capitalize, blog_path(post)
    %hr

  .row
    .col-md-12
      .awidget
        .awidget-head
          %h3
            = "#{t('blog.published_at')} #{l(post.published_at)} #{t('blog.in_category')}"
            = link_to post.blog_category.name, blog_category_path(post.blog_category.id)

        .awidget-body
          .row
            .col-md-10
              = soft_clean post.content

  .clearfix
  %br
  %br


- if is_admin
  %a{:href=>'#create_post_modal', :class=>'label label-important right', :data=>{'toggle'=>'modal'}, :id => 'add_new_post'}
    = t('blog.create_post')