!!!
%head
  %meta{:charset=>"utf-8"}
  %title= t('app.title')
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  #top_bar
    = render :template=>'shared/top_bar'

  .container
    .row
      = render :template=>'shared/menu'

      .span10
        = yield

    .clear

- #### Flash messages handler ####
- if flash[:notice] && !flash[:notice].strip.blank?
  .modal#error_modal
    .modal-header
      %a.close{:data=>{'dismiss'=>'modal'}}
        = '×'
      %h3= t('warnings.error')

    .modal-body
      = flash[:notice]

  :javascript
    $('#error_modal').modal('toggle').fade();

