!!!
%head
  %meta{:charset=>"utf-8"}
  %title= t('app.title')
  = stylesheet_link_tag 'application'
  = stylesheet_link_tag '/javascripts/jquery_lightness/css/ui-lightness/jquery-ui-1.8.16.custom.css'

  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
  = javascript_include_tag '/javascripts/jquery_lightness/js/jquery-ui-1.8.16.custom.min.js'
  = javascript_include_tag '/javascripts/jquery_lightness/js/jquery.ui.datepicker-fr.js'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  #top_bar
    = render :partial=>'shared/top_bar'

  .container
    .row
      .span12
        = yield

    .clear#bottom_margin

  #footer
    %p
      = t('handcrafted_with_love')
      %a{:href=>'http://www.guillaume-barillot.com', :target=>'blank'}
        = t('guillaume_barillot')
      = t('using')
      %a{:href=>'http://rubyonrails.org', :target=>'blank'}
        = t('ror')
      = t('and')
      %a{:href=>'http://twitter.github.com/bootstrap', :target=>'blank'}
        = t('twitter_bootstrap')
      = '|'
      = t('cmon')
      %a{:href=>'https://github.com/la-cordee/refuge', :target=>'blank'}
        = t('fork_me')

- #### Flash messages handler ####
- if flash[:error] && !flash[:error].strip.blank?
  .modal#error_modal
    .modal-header
      %a.close{:data=>{'dismiss'=>'modal'}}
        = '×'
      %h3= t('warnings.error')

    .modal-body
      = flash[:notice]

  :javascript
    $('#error_modal').modal('toggle').fade();

