!!!
%head
  %meta{:charset=>"utf-8"}
  %title= t('app.title')

  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
      
  %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', :rel => 'stylesheet', :type => 'text/css'}
  %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600italic,600', :rel => 'stylesheet', :type => 'text/css'}

  = stylesheet_link_tag '/javascripts/jquery_lightness/css/ui-lightness/jquery-ui-1.8.16.custom.css'
  = stylesheet_link_tag '/slimbox/css/slimbox2.css'
  = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css'
  = stylesheet_link_tag '/javascripts/fine-uploader/fineuploader-3.4.1.css'
  = stylesheet_link_tag 'application'

  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'
  = javascript_include_tag '/javascripts/jquery_lightness/js/jquery-ui-1.8.16.custom.min.js'
  = javascript_include_tag '/javascripts/jquery_lightness/js/jquery.ui.datepicker-fr.js'
  = javascript_include_tag '/slimbox/js/slimbox2.js'
  = javascript_include_tag '/javascripts/jquery.linkify-1.0-min.js'
  = javascript_include_tag "/javascripts/fine-uploader/jquery.fineuploader-3.4.1.min.js"
  = javascript_include_tag 'application'

  = csrf_meta_tags

%body
  %img{ :src => '/assets/bg_body_wide.jpg', :id => 'wide_bg'}

  .header
    = render :partial=>'shared/top_bar'

  .page-content.blocky
    .container
      .row
        = yield

    .clear#bottom_margin

  %footer
    .container
      .row
        .col-md-12#footer
          %span.text-center
            = "© Graines de Sol #{Time.now.year}"
            = '|'
            = "Développé par "
            %a{:href=>'http://www.guillaume-barillot.com', :target=>'blank'}
              = "GBO"
            = '|'
            = "You can also"
            %a{:href=>'https://github.com/la-cordee/refuge', :target=>'blank'}
              = t('fork_me')


- #### Flash messages handler ####
- if flash[:error] && !flash[:error].strip.blank?
  .modal#error_modal
    .modal-header
      %a.close{:data=>{'dismiss'=>'modal'}}
        = '×'
      %h3= t('warnings.error')

    .modal-body
      = flash[:notice]

  :javascript
    $('#error_modal').modal('toggle').fade();

