!!!
%head
  %meta{:charset=>"utf-8"}
  %title= t('app.title')
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  #top_bar
    = render :partial=>'shared/top_bar'

  .container
    .row
      .span12
        = yield

    .clear

- #### Flash messages handler ####
- if flash[:error] && !flash[:error].strip.blank?
  .modal#error_modal
    .modal-header
      %a.close{:data=>{'dismiss'=>'modal'}}
        = '×'
      %h3= t('warnings.error')

    .modal-body
      = flash[:notice]

  :javascript
    $('#error_modal').modal('toggle').fade();

