= form_for @member do |f|
  %label= t(:first_name)
  = f.text_field :first_name
  %br
  %label= t(:last_name)
  = f.text_field :last_name
  %br
  %label= t(:birthdate)
  = f.text_field :birthdate
  %br
  %label= t(:gender)
  = f.text_field :gender
  %br
  %label= t(:avatar)
  = f.text_field :catchword
  %br

  = submit_tag t(:save), :class=>'btn  btn-warning'

