= form_for @member, :html => {:multipart => true, :id=>'edit_member'} do |f|

  .span4
    .avatar
      = image_tag @member.avatar.thumb('180x180').url
    - if is_admin
      = f.file_field :avatar

  .span4
    %label= t(:first_name)
    = f.text_field :first_name, :data=>{'required'=>'true', 'alert'=>t('warnings.first_name')}
    %br
    %label= t(:last_name)
    = f.text_field :last_name
    %br
    %label= t(:birthday)
    %input{:type=>'text', :id=>'member_birthday_day', :name=>'member[birthday][day]', :style=>'width:20px;', :maxlength=>'2', :value=>@member.birthday.day, :data=>{'required'=>'true', 'alert'=>t('warnings.member_birthday_day')}}
    = select_month(@member.birthday, {:use_month_names=>t('date.month_names').shift}, {:style=>'width:185px;', :name=>'member[birthday][month]'})
    %br
    %label= t(:city)
    = f.text_field :city

  .span9#members_details
    .clear.hr
    %a.dotoggle{:href=>'#', :data=>{'target'=>'user_access'}}= t(:connexion_params)

    #user_access{:style=>'display:none;'}
      %br
      .well
        %label= t('devise.common.login')
        = text_field_tag 'user[email]', @current_user.email
        %br
        %label= "#{t('devise.common.password')} #{t(:blank_if_no_change)}"
        = password_field_tag 'user[password]'
        %br
        %label= t('devise.common.confirm_password')
        = password_field_tag 'user[password_confirmation]'
    .clear.hr
    %a.dotoggle{:href=>'#', :data=>{'target'=>'pro_situation'}}= t(:pro_situation)

    #pro_situation{:style=>'display:none;'}
      %br
      .well
        %label= t(:pro_status)
        = f.select(:status_id, Status.all.map{|l|[l.name,l.id]})
        %br
        %label= t(:prestations)
        = f.text_area :prestations
        %br
        %label= t(:references)
        = f.text_area :references

    .clear.hr
    %a.dotoggle{:href=>'#', :data=>{'target'=>'pro_social_networks'}}= t(:pro_social_networks)

    #pro_social_networks{:style=>'display:none;'}
      %br
      - @pro_networks.each do |network|
        .well
          %label= t(network[:label])
          = image_tag network[:icon], :style=>'float:left;margin-right:10px;'
          = text_field_tag "profile[#{network[:id]}]", network[:url]

    .clear.hr
    %a.dotoggle{:href=>'#', :data=>{'target'=>'perso_social_networks'}}= t(:perso_social_networks)

    #perso_social_networks{:style=>'display:none;'}
      %br
      - @perso_networks.each do |network|
        .well
          %label= t(network[:label])
          = image_tag network[:icon], :style=>'float:left;margin-right:10px;'
          = text_field_tag "profile[#{network[:id]}]", network[:url]

    .clear.hr
    %br
    %label= t(:hobbies)
    = f.text_area :hobbies
    %br
    %label= t(:powers)
    = f.text_area :powers
    %br
    %label= t(:presence)
    = f.text_field :presence
    %br

    - if is_admin
      %label= t(:cordee_location)
      = f.select(:location_id, Location.all.map{|l|[l.name,l.id]})
      %br

    = submit_tag t(:save), :class=>'btn  btn-warning'

    - if is_admin
      %a{:href=>member_path(@member.user.id), :class=>'btn btn-danger destroy', :style=>'float:right;', :data=>{'method'=>'delete', 'confirm'=>t('confirms.delete_member')}}
        %i.icon-trash.icon-white
        = t(:delete_member)
.clear

