.span12.form

  = form_for @member, :html => {:multipart => true, :id=>'edit_member'} do |f|

    .span3
      .avatar
        = image_tag @member.avatar.thumb('180x180').url

    .span8
      %h1= f.text_field :first_name
      %h2= f.text_field :last_name

      #baseline= f.text_field :baseline
      #description
        %input{:type=>'text', :id=>'member_birthday_day', :name=>'member[birthday][day]', :style=>'width:20px;', :maxlength=>'2', :value=>@member.birthday.day, :data=>{'required'=>'true', 'alert'=>t('warnings.member_birthday_day')}}
        = select_month(@member.birthday, {:use_month_names=>t('date.month_names').shift}, {:style=>'width:125px;', :name=>'member[birthday][month]'})
        = select_year(@member.birthday,  {:start_year => 1930, :end_year => Time.now.year}, {:style=>'width:80px;', :name=>'member[birthday][year]'})
        = f.select(:status_id, Status.all.map{|l|[l.name,l.id]})

      = f.file_field :avatar

    .clear

    .span2.labels
      .organisation
        %p= t('organisation')
      .activity
        %p= t('prestations')
      .references
        %p= t('references')
      .hobbies
        %p= t('hobbies')
      .super_powers
        %p= t('powers')
    .span8
      .well
        .organisation
          - if @member.website
            = link_to @member.organisation, @member.http_website
          - else
            = @member.organisation
          |
          = t('website')
          = f.text_field :website
        .activity
          = f.text_field :situation
        .references
          = f.text_field :references
        .hobbies
          = f.text_area :hobbies
        .super_powers
          = f.text_area :powers


        .hr{:style=>'margin:10px auto 30px auto'}

        .social_networks#pro
          %h4= t(:pro_social_networks)
          %br
          - @pro_networks.each do |network|
            %label= t(network[:label])
            = image_tag network[:icon]
            = text_field_tag "profile[#{network[:id]}]", network[:url]


        .social_networks#perso
          %h4= t(:perso_social_networks)
          %br
          - @perso_networks.each do |network|
            %label= t(network[:label])
            = image_tag network[:icon]
            = text_field_tag "profile[#{network[:id]}]", network[:url]

        .clear

    .span10
      = submit_tag t(:save), :class=>'btn  btn-warning', :style=>'float:right'

      - if is_admin
        %a{:href=>member_path(@member.user.id), :class=>'btn btn-danger destroy', :style=>'float:left;', :data=>{'method'=>'delete', 'confirm'=>t('confirms.delete_member')}}
          %i.icon-trash.icon-white
          = t(:delete_member)

