.col-md-12.content.form.form-horizontal

  = simple_form_for @member, :html => {:multipart => true, :id=>'edit_member'} do |f|

    .row
      .col-md-3
        .avatar
          = avatar(@member, '180x180')
        - if is_admin
          = f.file_field :avatar

      .col-md-9
        .row{:style => 'padding: 20px'}
          .col-md-6
            .form-group
              %label= t('first_name')
              = f.input :first_name, :label => false

            .form-group
              %label= t('last_name')
              = f.input :last_name, :required => false, :label => false

            .form-group
              %label= t('baseline')
              = text_field_tag 'member[baseline]', @member.baseline, :style=>'width:100%'

          .col-md-6
            %br
            .well
              %a{:href=>'#edit_account', :data=>{'toggle'=>'modal'}, :id=>'mail_me'}
                = t('edit_my_login_informations')

        .well.detail-form
          .form-group
            .col-sm-2.ta-r
              %label= t('activity_1')
            .col-sm-4
              = text_field_tag 'member[organisation]', @member.organisation, :style => 'width: 100%'

            .col-sm-2.ta-r
              %label= "#{t('website')} http://"
            .col-sm-4
              = text_field_tag 'member[website]', @member.website

          .form-group
            .col-sm-2.ta-r
              %label= t('activity_2')
            .col-sm-4
              = text_field_tag 'member[organisation_2]', @member.organisation_2, :style => 'width: 100%'

            .col-sm-2.ta-r
              %label= "#{t('website')} http://"
            .col-sm-4
              = text_field_tag 'member[website_2]', @member.website_2

          .form-group
            .col-sm-2.ta-r
              %label= t('prestations')           
            .col-sm-10
              = text_area_tag 'member[prestations]', @member.prestations, :class=>'expandable'

          .form-group
            .col-sm-2.ta-r
              %label= "Spécificités"        
            .col-sm-10
              = text_area_tag 'member[references]', @member.references, :class=>'expandable'

          .form-group
            .col-sm-2.ta-r
              %label= t('phone')
            .col-sm-10
              = text_field_tag 'member[phone]', @member.phone
              = t('www_published')

          .form-group
            .col-sm-2.ta-r
              %label= t('organisation_logo')
            .col-sm-10            
              %span.logo.left= (image_tag @member.logo.thumb('x75').url, :alt=>"logo") if @member.logo
              - if @member.logo
                %a.delete.left{:href => '#', :id => 'remove_logo', :data => {'message' => t('confirms.delete_logo')}}= "Supprimer le logo"
              = hidden_field_tag 'logo_reset', 'false'
              %br
              %br
              = f.file_field :logo
              .clear.h-10

          .form-group
            .col-sm-2.ta-r
              %label= "Site grainesdesol.fr"
            .col-sm-10
              = f.check_box 'www_published'
              = t('ok_www_published')

        .well.detail-form
          .form-group
            .col-sm-2.ta-r
              %label= "Tous les statuts"
            .col-sm-10#do-statusToAdd
              - member_status = @member.statu_list.map{|skill| skill}
              - all_status    = ActsAsTaggableOn::Tagging.find_all_by_context("status").map{|status| status.tag.name}.uniq

              - all_status.each do |status|
                - unless member_status.include?(status)
                  %a{:href => '#', 'data-tag-name' => status, 'data-member-id' => @member.id, :class => 'tag', :title => 'Cliquer pour ajouter ce statut'}= status
              %hr
          .form-group
            .col-sm-2.ta-r
              %label= "Mon (mes) statut(s)"
            .col-sm-10#do-statusToremove
              - member_status.each do |status|
                %a{:href => '#', 'data-tag-name' => status, 'data-member-id' => @member.id, :class => 'tag', :title => 'Cliquer pour retirer ce statut'}= status

        .well.detail-form
          .form-group
            .col-sm-2.ta-r
              %label= "Toutes les secteurs d'activités"
            .col-sm-10#do-skillsToAdd.mh-20
              - skills = @member.skill_list.map{|skill| skill}
              - all_skills = ActsAsTaggableOn::Tagging.find_all_by_context("skills").map{|skill| skill.tag.name}.uniq
              - all_skills.each do |skill|
                - unless skills.include?(skill)
                  %a{:href => '#', 'data-tag-name' => skill, 'data-member-id' => @member.id, :class => 'tag', :title => 'Cliquer pour ajouter cette compétence'}= skill
              %hr
          .form-group
            .col-sm-2.ta-r
              %label= "Mes secteurs d'activités"
            .col-sm-10#do-skillsToremove
              - skills.each do |skill|
                %a{:href => '#', 'data-tag-name' => skill, 'data-member-id' => @member.id, :class => 'tag', :title => 'Cliquer pour retirer cette compétence'}= skill

        .well.detail-form
          .form-group
            .col-sm-2.ta-r
              %label= "Toutes les spécialitées"
            .col-sm-10#do-specificityToAdd.mh-20
              - specificities = @member.specificity_list.map{|specificity| specificity}
              - all_specificities = ActsAsTaggableOn::Tagging.find_all_by_context("specificity").map{|specificity| specificity.tag.name}.uniq
              - all_specificities.each do |specificity|
                - unless specificities.include?(specificity)
                  %a{:href => '#', 'data-tag-name' => specificity, 'data-member-id' => @member.id, :class => 'tag', :title => 'Cliquer pour ajouter cette spécialité'}= specificity
              %hr
          .form-group
            .col-sm-2.ta-r
              %label= "Mes spécialités"
            .col-sm-10#do-specificityToremove
              - specificities.each do |specificity|
                %a{:href => '#', 'data-tag-name' => specificity, 'data-member-id' => @member.id, :class => 'tag', :title => 'Cliquer pour retirer cette spécialité'}= specificity

        .well.detail-form
          .form-group
            .col-sm-2.ta-r
              %label= t('phone')
            .col-sm-9
              = text_field_tag 'member[mobile]', @member.mobile
              = t('non_www_published')

          .form-group
            .col-sm-2.ta-r
              %label= t('I_live_in')
            .col-sm-4
              = f.text_field :city

          .form-group
            .col-sm-2.ta-r
              %label= t('hobbies')
            .col-sm-10
              = f.text_area :hobbies, :class=>'expandable'

          .form-group
            .col-sm-2.ta-r
              %label= t('powers')
            .col-sm-10
              = f.text_area :powers, :class=>'expandable'

          .form-group
            .col-sm-2.ta-r
              %label= t('presence')
            .col-sm-10
              = f.text_field :presence

          .col-md-6
            .social_networks#pro
              %b= t(:pro_social_networks)
              %br
              %br
              - @pro_networks.each do |network|
                %label= t(network[:label])
                = image_tag network[:icon]
                = text_field_tag "profile[#{network[:id]}]", network[:url]

          .col-md-6
            .social_networks#perso
              %b= t(:perso_social_networks)
              %br
              %br
              - @perso_networks.each do |network|
                %label= t(network[:label])
                = image_tag network[:icon]
                = text_field_tag "profile[#{network[:id]}]", network[:url]

          .clearfix


    - if current_user.member.id == @member.id || current_user.role == 'admin'
      - if current_user.role == 'admin' 
        .row
          .col-md-10.pull-right
            .col-md-5.pull-right
              = "Date d'entrée"
              - @member.entered_at ? entered_at = @member.entered_at : entered_at = Time.now
              = text_field_tag "entered_at", l(entered_at, :format => :long), :class => 'datepicker col-md-8 pull-right'
              = hidden_field_tag "member[entered_at]", entered_at, :id => 'end_at'
            .col-md-3.pull-right
              = f.radio_button 'is_active', true
              = "Actif"
              = f.radio_button 'is_active', false
              = "Inactif"
            .col-md-3.pull-right
              = t('role')
              %select{:name=>'user[role]', :style=>'margin-right:20px;'}
                %option{:value=>'user', :selected => @member.user.role == 'user'}= 'User'
                %option{:value=>'admin', :selected => @member.user.role == 'admin'}= 'Admin'
          .clearfix
          %br

      .row
        .col-md-12
          = submit_tag t(:save), :class=>'btn  btn-warning', :style=>'float:right; margin-right:20px;'

          - if current_user.member.id == @member.id && current_user.role == 'admin'
            .span6{:style=>'float:right'}
              = hidden_field_tag 'user[view_as_user]', false
              = check_box_tag 'user[view_as_user]', true, @member.user.view_as_user == true
              %strong= t('view_as_user_label')

          - if current_user.role == 'admin'
            %a{:href=>member_path(@member.user.id), :class=>'btn btn-danger destroy', :style=>'float:left;', :data=>{'method'=>'delete', 'confirm'=>t('confirms.delete_member')}}
              %i.icon-trash.icon-white
              = t(:delete_member)

  .clearfix.mt-20

= render :partial => '/modals/edit_user_email_modal'
