#search_for_members
  %h3= t(:search_for_members)
  = form_tag '/members/search' do
    %select{:name=>'category', :style=>'width:120px;float:left;margin-right:20px;'}
      - Member.fields.each do |field, name|
        %option{:value=>field}= t(name)

    %input{:type=>'text', :name=>'keywords'}
    = submit_tag t(:search), :class=>'btn  btn-warning'

#members_list
  - @members.each do |member|
    .member_resume
      .avatar
        %a{:href=>member_path(member.id)}
          = avatar(member, '101x101')

      %span= link_to member.first_name, member_path(member.id)

  .clear{:style=>'height:20px;'}

- if is_admin
  %a{:href=>'#creation_modal', :class=>'label label-important', :data=>{'toggle'=>'modal'}, :style=>'margin-left:5px;'}
    = t(:create_new_member)

  #creation_modal.modal.hide
    .modal-header
      %a.close{:data=>{'dismiss'=>'modal'}}
        = '×'
      %h3= t('new_account_creation')

    .modal-body
      #new_user_form
        = form_tag "/members" do
          %label= t(:login)
          %input{:type=>'text', :name=>'user[email]'}

          %label= t(:password)
          %input{:type=>'password', :name=>'user[password]'}

          %label= t(:role)
          %select{:name=>'user[role]'}
            %option{:value=>'user'}= t(:member)
            %option{:value=>'admin'}= t(:admin)

          %br
          = submit_tag t(:create), :class=>'btn  btn-danger'

