.col-md-9
  .row
    #members_list
      - @members.each do |member|
        .member_resume{'data-skills' => member.skills.map{|t| t.id}, 'data-status' => member.status.map{|t| t.id}, 'data-first-name' => member.first_name.downcase, 'data-last-name' => member.last_name.downcase}
          .member_avatar
            %a{:href => member_path(member.id), :target => 'blank'}
              = avatar(member, '100x75')

          %span= link_to member.first_name, member_path(member.id), :target => 'blank'

      .clear

    - if is_admin
      .clearfix
      %a{:href => '#creation_modal', :class => 'btn btn-warning', :data => {'toggle' => 'modal'}, :style => 'margin-left:5px;'}
        = t(:create_new_member)

.col-md-3
  = render :partial => '/shared/aside_members'

= render :partial => '/modals/member_creation_modal'

