.span12
  .span3
    .avatar
      = avatar(@member, '180x180')

  .span8
    %h1= @member.first_name
    %h2= @member.last_name

    #baseline= @member.baseline
    #description= "#{@member.status.name if @member.status}"
    %a{:href=>'#send_mail', :data=>{'toggle'=>'modal', :recipient=>@member.user.email, :recipient_id=>@member.id}, :class=>'mail_me'}
      = t('send_a_message')

  .clear{:style=>'height:30px;'}

  - if member_has_infos?(@member) || member_has_profile?(@pro_networks) || member_has_profile?(@perso_networks)
    .span7.well#details
      %table
        - if @member.organisation
          %tr
            %td
              %p= t('organisation')
            %td
              - if @member.website
                %p= link_to @member.organisation, @member.website
              - else
                %p= @member.organisation
        - if @member.prestations
          %tr
            %td
              %p= t('prestations')
            %td
              %p= @member.prestations
        - if @member.references
          %tr
            %td
              %p= t('references')
            %td
              %p= @member.references
        - if @member.phone
          %tr
            %td
              %p= t('phone')
            %td
              %p= @member.phone
        - if @member.city
          %tr
            %td
              %p= t('I_live_in')
            %td
              %p= @member.city.capitalize
        - if @member.hobbies
          %tr
            %td
              %p= t('hobbies')
            %td
              %p= h(@member.hobbies).gsub!(/\n/, "<br />").html_safe
        - if @member.powers
          %tr
            %td
              %p= t('powers')
            %td
              %p= h(@member.powers).gsub!(/\n/, "<br />").html_safe
        - if @member.presence
          %tr
            %td
              %p= t('presence')
            %td
              %p= @member.presence
        - if member_has_profile?(@pro_networks) || member_has_profile?(@perso_networks)
          %tr
            %td= ''
            %td
              .hr{:style=>'width:96%;margin:auto;margin-bottom:20px;'}

              - if member_has_profile?(@pro_networks)
                .social_networks#pro
                  %strong= t(:pro_social_networks)
                  %br
                  %br
                  = show_social_profiles(@pro_networks)

              - if member_has_profile?(@perso_networks)
                .social_networks#perso
                  %strong= t(:perso_social_networks)
                  %br
                  %br
                  = show_social_profiles(@perso_networks)


      .clear

= render :partial=>'shared/send_mail_modal'

