.col-md-12.content
  %a.btn.btn-danger.pull-right{:href => members_path}
    = 'Retour tous les entrepreneurs'

  %br
  .row.mt-20
    .col-md-3
      .avatar
        = avatar(@member, '180x180')

    .col-md-8
      %h1
        = "#{@member.first_name} #{@member.last_name}"
        - if Member.can_edit?(current_user, @member.id)
          %a{:href=> edit_member_path(@member.id), :class=>'btn btn-warning'}= "Modifier ma fiche"
    
      - unless @member.baseline.blank?
        #baseline= @member.baseline

      %a{:href=>'#send_mail', :data=>{'toggle'=>'modal', :recipient=>@member.user.email, 'recipient-id' => @member.id}, :class=>'mail_me'}
        %i.icon-envelope
        = "Envoyer un E-Mail"

  .clear{:style=>'height:30px;'}

  .row
    .col-md-12
      - if member_has_infos?(@member) || member_has_profile?(@pro_networks) || member_has_profile?(@perso_networks)
        .span7.well.details
          %table
            - if @member.organisation
              %tr
                %td
                  %p= t('activity_1')
                %td
                  %p= @member.website ? link_to(@member.organisation, "http://#{@member.website}", :target => 'blank') : @member.organisation

            - if @member.logo
              %tr
                %td
                  %p= ''
                %td
                  %p
                    = image_tag @member.logo.thumb('x75').url, :alt=>"logo"
                    %br
                    %br
              
            - if @member.organisation_2
              %tr
                %td
                  %p= t('activity_2')
                %td
                  %p= @member.website_2 ? link_to(@member.organisation_2, "http://#{@member.website_2}", :target => 'blank') : @member.organisation_2

            - if @member.prestations
              %tr
                %td
                  %p= t('prestations')
                %td
                  = simple_format @member.prestations

            - if @member.references
              %tr
                %td
                  %p= t('specificities')
                %td
                  = simple_format @member.references

            - if @member.mobile
              %tr
                %td
                  %p= t('phone')
                %td
                  %p= phone_number @member.mobile

            - if @member.entered_at
              %tr
                %td
                  %p= "Date d'entrée"
                %td
                  %p= l(@member.entered_at, :format => :long)

            - if @member.city
              %tr
                %td
                  %p= t('I_live_in')
                %td
                  %p= @member.city.capitalize

            - if @member.hobbies
              %tr
                %td
                  %p= t('hobbies')
                %td
                  = simple_format @member.hobbies

            - if @member.powers
              %tr
                %td
                  %p= t('powers')
                %td
                  = simple_format @member.powers

            - if @member.presence
              %tr
                %td
                  %p= t('presence')
                %td
                  %p= @member.presence

            - if member_has_profile?(@pro_networks) || member_has_profile?(@perso_networks)
              %tr
                %td= ''
                %td
                  .hr{:style=>'width:96%;margin:auto;margin-bottom:20px;'}

                  - if member_has_profile?(@pro_networks)
                    .social_networks#pro
                      %strong= t(:pro_social_networks)
                      %br
                      %br
                      = show_social_profiles(@pro_networks)

                  - if member_has_profile?(@perso_networks)
                    .social_networks#perso
                      %strong= t(:perso_social_networks)
                      %br
                      %br
                      = show_social_profiles(@perso_networks)


          .clear

  = render :partial=>'/modals/send_mail_modal'

